{% extends 'base.html' %}

{% block content %}
    <div style="margin-top: 1%">
        <div class="container-fluid">
            <div class="row align-items-start">
                <div class="col">
                    <div class="bg-image card shadow-1-strong"
                         style="background: radial-gradient(circle, rgb(219,198,245) 0%, rgb(185,141,239) 100%);">
                        <div class="card-body text-white">
                            <h1>Блог о машинном обучении</h1>
                            <h3>Страница о блоге</h3>
                            <img src="https://lh6.googleusercontent.com/FcswhDgzUC5hL9REfRn-ejF2OU50NT76RRWdhbkWGLP2WAIEKMfOhQqVvY0UJqUvTzzj0NGa6wEI2Q8HjAptUIyYylwXODvVg3MFC-sKsQRsQ8L3LifuEsC8WS-6senDCIT-Ba_q" alt="Машинное обучение">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}